[submodule "vendor/raylib_multi_window_experimental"]
	path = vendor/raylib_multi_window_experimental
	url = https://github.com/bryanbendall/raylib_multi_window_experimental.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/asio"]
	path = vendor/asio
	url = https://github.com/bryanbendall/asio.git
[submodule "src/BrytecConfigEmbedded"]
	path = src/BrytecConfigEmbedded
	url = https://github.com/bryanbendall/BrytecConfigEmbedded.git
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/bryanbendall/yaml-cpp.git
